body {
    margin: 0;
    font-family: 'Roboto-bold', sans-serif;
}

.hero, .header {
    background-color: #1F2937;
    padding: 16px 144px 96px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    flex: 1;
    font-size: 12px;
    color: #E5E7EB;
    justify-content: space-between;
}

.head-links {
    display: flex;
    gap: 16px;
}  

.header .head-logo {
    color: #F9FAF8;
    font-size: 18px;
}

.head-logo {
    font-weight: 600;
}

.hero-content {
    width: 30em;
}

.hero-main {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-sub {
    font-size: 12px;
    color: #E5E7EB;
    padding: 8px 0;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 530;
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 6px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}